* {
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  width: 10em;
  height: 20em;
  justify-content: center;
  align-items: center;
}

.middle {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  width: 8em;
  height: 6em;
  border: 0.1em solid black;
  margin-bottom: 3em;
}

.left {
  margin-right: -1em;
}

.right {
  margin-left: -1em;
}
